<div id="title" data-0="font-size: 48px; padding: 0 0 24px 12px;" data-128="font-size: 18px; padding: 0 0 21px 60px;">
  
  
  <p>
      provides the initial <span style="color:blue;width:50px;padding:20px">bhuki</span>value of the route parameter map. You can access the parameters directly without subscribing or adding observable operators. It's much simpler to write and read
  </p>

  <input type="date">
  <input type="radio">hello
  <input type="select">hello
  <input type="email">
</div>

<h1>
    home works!
  </h1>

<!-- <display: inline  : will take width, 
default
block will not take width,
inline-block will take width -->